{% extends 'base.html' %}

{% block title %}Prevention Guide — Mpox App{% endblock %}

{% block content %}
  <section>
      <h2>Mpox Prevention Guide: </h2> 
          
    <div class="box">
      <h2>How to Protect Yourself</h2>
      <ul>
        <li>Avoid close contact with individuals showing symptoms.</li>
        <li>Regularly wash your hands with soap and water.</li>
        <li>Disinfect frequently touched surfaces daily.</li>
        <li>Wear protective masks in crowded places.</li>
        <li>Avoid sharing personal items.</li>
      </ul>
    </div>

    <div class="box">
      <h2>Boost Your Immunity</h2>
      <ul>
        <li>Maintain a balanced diet rich in vitamins.</li>
        <li>Exercise regularly to stay healthy.</li>
        <li>Get adequate sleep to strengthen your immune system.</li>
        <li>Stay hydrated throughout the day.</li>
      </ul>
    </div>
  </section>
{% endblock %}
